In [3]:
from pandas import concat
from pandas import read_json
from pandas import DataFrame


base_path = "hf://datasets/scb10x/thai_exam/"
exams = [
    "a_level",
    "ic",
    "onet",
    "tgat",
    "tpat1",
]
df = DataFrame()

for exam in exams:
    splits = {
        "train": f"data/{exam}/{exam}_train.jsonl", 
        "test": f"data/{exam}/{exam}_test.jsonl",
    }
    tmp_train = read_json(base_path + splits["train"], lines=True)
    tmp_test = read_json(base_path + splits["test"], lines=True)

    tmp_train["split"] = "train"
    tmp_test["split"] = "test"
    tmp_data = concat(
        objs=[tmp_train, tmp_test],
        ignore_index=True,
    )
    tmp_data["ID"] = [
        f"{exam}_{i:03d}" for i in range(1, len(tmp_data)+1)
    ]
    tmp_data["exam"] = exam

    df = concat(
        objs=[df, tmp_data],
        ignore_index=True,
    )

In [4]:
df.head(2)

,question,a,b,c,d,e,answer,subject,split,ID,exam,year,no
0,ข้อใดกล่าวไม่ถูกต้องเกี่ยวกับแสง,แสงประพฤติตัวได้ทั้งแบบคลื่นและอนุภาค,เมื่อแสงผ่านสลิตคู่จะเกิดการแทรกสอดกันท าให้เก...,แสงอาทิตย์ธรรมชาติเป็นแสงไม่โพลาไรซ์,รุ้งกินน้ำเกิดขึ้นจากปรากฎการณ์หักเหของแสงเพีย...,เมื่อแสงเคลื่อนที่ผ่านตัวกลางที่ต่างกันจะมีควา...,d,science,train,a_level_001,a_level,NaN,NaN
1,ข้อใดกล่าวถึงสิทธานุมัติทางสังคมได้ถูกต้อง,แต่ละสังคมจะมีหรือไม่มีสิทธานุมัติทางสังคมก็ได้,สิทธานุมัติทางสังคมโดยการจูงใจ กระทำเมื่อสมาชิ...,หน่วยงานของรัฐจะเข้ามาเกี่ยวข้องในเรื่องสิทธาน...,การเยาะเย้ยถากถาง นินทา ปรับเงิน จำคุก เป็นสิท...,สิทธานุมัติทางสังคมโดยการลงโทษมีทั้งที่เป็นทาง...,e,social,train,a_level_002,a_level,NaN,NaN

In [5]:
(
    df[["exam", "split", "ID"]]
    .groupby(
        by=["exam", "split"],
        as_index=False,
    )
    .count()
)

      exam  split   ID
0  a_level   test  127
1  a_level  train    5
2       ic   test   95
3       ic  train    5
4     onet   test  162
5     onet  train    5
6     tgat   test   65
7     tgat  train    5
8    tpat1   test  116
9    tpat1  train    5

In [ ]:
df.to_excel("../input/THAI_EXAM/thai_exams.xlsx", index=False)